@page "/"
@using MudBlazor




<PageTitle>Index</PageTitle>

<h1>Blazor WASM and Web API APP</h1>
 
In This app I will create a Super Hero App .

<br />

<!-- <SurveyPrompt Title="How is Blazor working for you?" /> -->
<!--<br />
<br />
<ImageButton></ImageButton>
<br />
<br />
<CheckboxandSwitch></CheckboxandSwitch>
<br />
<br />
<br />
<br />
<br />-->
<Form1></Form1>
<!--<br />
<br />
<Villain></Villain>
<br />
<br />
<SuperHeroes></SuperHeroes>-->


